# In .gitignore file

# Ignore the virtual environment
venv/

# Ignore folders
Data/
Results/
dist/
build/

# Ignore Python cache files
__pycache__/
*.pyc

# --- IMPORTANT ---
# Ignore the environment file containing secrets
.env

# Ignore .specs files
*.spec